  <% if current_user %>  
  
  <% else %>
  <div class="alert-box">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <p class="alert-text">You should probably <a href="/login">log in.</a></p>
    </div>
  <% end %>

<% login %>

<div class="main">
    <div class="header">
    <h1 class="contact">Woosh</h1>
    </div>
    <div class="white" id="messages">
      <div class="content">
        <% @messengers.each do |message| %>
        <p class="<%= text_class message %>"><%= message.user.name %>: <%= message.message %></p>
        <% end %>
      </div>
    </div>
    <div class="text_box">
      <%= form_with(model: @messenger, local: true) do |form| %>
        <%= form.text_field :message, class: "text", id: :messenger_message, autofocus: true  %>
      <% end %>
    </div>
    <div class="refresh">
      <a href="/"><i class="fa fa-refresh" style="font-size:24px"></i></a>
    </div>
</div>

