<!DOCTYPE html>
<html>
  <head>
    <title>Woosh!</title>
      <%= csrf_meta_tags %>
      <link href="/assets/favicon.ico" rel="shortcut icon">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="navbar">
      <%= link_to image_tag('/assets/Woosh.1.png'), root_path, :class => 'logo' %>
      <%= link_to "Home", root_path %>
      <% if current_user %>  
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <a href="/edit" class="edit" style="float: right; margin: 40px 20px 0px 0px;">Edit Profile</a>
      <% else %>
      <a href="/login">Login</a> <p class="or">or</p>
      <a href="/sign_up">Sign up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>